<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="author" content="Rain Wu"/>
	<link rel="stylesheet" href="../resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../resources/css/main.min.css"/>
	<title>Oran Crab ｜ 橙蟹</title>
</head>

<body>
	
	<aside>
		<header>
			<h1>Oran Crab | 橙蟹 <i class="nav-control on"></i></h1>
			<p>©2016 橙蟹 粤ICP备08036625号</p>
		</header>
		<ul>
			<li role="presentation" class="active"><i></i><a href="#cxn01" aria-control="cxn01" role="tab" data-toggle="tab">首页</a></li>
			<li role="presentation"><i></i><a href="#cxn02" aria-control="cxn02" role="tab" data-toggle="tab">APP</a></li>
			<li role="presentation"><i></i><a href="#cxn03" aria-control="cxn03" role="tab" data-toggle="tab">新媒体</a></li>
			<li role="presentation"><i></i><a href="#cxn04" aria-control="cxn04" role="tab" data-toggle="tab">合作伙伴</a></li>
			<li role="presentation"><i></i><a href="#cxn05" aria-control="cxn05" role="tab" data-toggle="tab">客户服务</a></li>
			<li role="presentation"><i></i><a href="#cxn06" aria-control="cxn06" role="tab" data-toggle="tab">关于我们</a></li>
			<li role="presentation"><i></i><a href="#cxn07" aria-control="cxn07" role="tab" data-toggle="tab">线下活动</a></li>
			<li role="presentation"><i></i><a href="#cxn08" aria-control="cxn08" role="tab" data-toggle="tab">财务服务</a></li>
			<li role="presentation"><i></i><a href="#cxn09" aria-control="cxn09" role="tab" data-toggle="tab">公益行业方案</a></li>
			<li role="presentation"><i></i><a href="#cxn10" aria-control="cxn10" role="tab" data-toggle="tab">众筹行业方案</a></li>
			<li role="presentation"><i></i><a href="#cxn11" aria-control="cxn11" role="tab" data-toggle="tab">基金行业方案</a></li>
			<li role="presentation"><i></i><a href="#cxn12" aria-control="cxn12" role="tab" data-toggle="tab">创投行业方案</a></li>
			<li role="presentation"><i></i><a href="#cxn13" aria-control="cxn13" role="tab" data-toggle="tab">服务流程</a></li>
			<li role="presentation"><i></i><a href="#cxn14" aria-control="cxn14" role="tab" data-toggle="tab">ERP登录</a></li>
		</ul>
		<div class="cursor"></div>
	</aside>
	<div class="tab-content text-center">
		<div role="tablepanel" class="tab-pane active" id="cxn01">
			<div class="content">
				<div class="col-xs-5 col-xs-offset-1 left">
					<img class="ele-hide cxn01_1" id="cxn01_1" src="../resources/images/cxn01/cxn01.png " alt="">
				</div>
				<div class="col-xs-5 right">
					<h2 id="cxn01_2" class="ele-hide cxn01_2">在橙蟹，用技术驱动企业规范财务</h2>
					<p id="cxn01_3" class="ele-hide cxn01_3">橙蟹 |（ORAN CRAB）是一个用技术为小微企业提供会计，审计，内控，信用服务的财务平台</p>	
				</div>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane " id="cxn02">
			<div class="content">
				<div id="carouselCxn02" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
				    <div class="item ">
				    	<div class="col-xs-5 left">
				    	 	<img id="cxn02_1_1" src="../resources/images/cxn02/01/1.png"  alt="">	
				    	</div>
				    	<div class="col-xs-6 right">
				    		<div class="part1 text-left">
				    			<img id="cxn02_1_2" src="../resources/images/cxn02/01/2.png" width="159" height="159" alt="">
				    			<img id="cxn02_1_2_1" src="../resources/images/cxn02/01/3.png" width="268" height="159" alt="">	
				    			<h2 id="cxn02_1_3">一款用技术推动企业财务管理的SAAS软件</h2>
				    		</div>
				    		<ul class="text-left">
				    			<li id="cxn02_1_4"><i id="cxn02_4_1"></i>众包会计 — 网状审批解放财务成本</li>
				    			<li id="cxn02_1_5"><i id="cxn02_4_2"></i>全员审计 — 财务信息流披露公开透明</li>
				    			<li id="cxn02_1_6"><i id="cxn02_4_3"></i>做好内控 — 随时随地监控企业开支</li>
				    		</ul>
				    		<div id="cxn02_1_7">
				    			<img src="../resources/images/cxn02/01/5.png"><p>扫描二维码<br>下载橙蟹APP</p>
				    		</div>
				    	</div>
				    </div>
				    <div class="item active">
				      <h2 id="cxn02_2_1">如何使用橙蟹 | How to use Oran Crab</h2>
							<p id="cxn02_2_2">简单四步上手</p>
							<ol>
								<li class="col-xs-3">
									<img id="cxn02_2_3" src="../resources/images/cxn02/02/1.png" alt="">
									<p id="cxn02_2_4">创建或加入一家公社</p>
									<i id="cxn02_2_5"></i>
								</li>

								<li class="col-xs-3">
									<img id="cxn02_2_6" src="../resources/images/cxn02/02/3.png" alt="">
									<p id="cxn02_2_7">一键发布支出</p>
									<i id="cxn02_2_8"></i>
								</li>
								<li class="col-xs-3">
									<img id="cxn02_2_9" src="../resources/images/cxn02/02/4.png" alt="">
									<p id="cxn02_2_10">像朋友圈一样管理支出</p>
									<i id="cxn02_2_11"></i>
								</li>
								<li class="col-xs-3">
									<img id="cxn02_2_12" src="../resources/images/cxn02/02/5.png" alt="">
									<p id="cxn02_2_13">随时随地查看企业报表</p>
								</li>
							</ol>
				    </div>
				  </div>
				  <a class="left carousel-control" href="#carouselCxn02" role="button" data-slide="prev">
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carouselCxn02" role="button" data-slide="next">
				    <span class="sr-only">Next</span>
				  </a>
				</div>	
			</div>
		</div>
		<div role="tablepanel" class="tab-pane " id="cxn03">
			<div class="content">
				<div id="carouselCxn03" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
				    <div class="item ">
				    	<h2>橙蟹 ｜ Oran Crab</h2>
				    	<p>技术驱动规范财务</p>
				    		<div class="col-xs-8 left">
				    			<div class="sacle-part">
				    				<ul>
						    			<li>每日财务头条</li>
						    			<li>橙蟹大事件</li>
						    			<li>财物冷知识</li>
						    			<li>线下活动信息</li>
						    			<li>此处应有广告</li>
						    		</ul>
						    		<div class="banner">
						    			<img id="cxn03_1_1" src="../resources/images/cxn03/01/1.png" width="310" height="640">
						    			<img id="cxn03_1_2" src="../resources/images/cxn03/01/7.png">
						    			<img id="cxn03_1_3" src="../resources/images/cxn03/01/8.png">
						    			<img id="cxn03_1_4" src="../resources/images/cxn03/01/9.png">
						    		</div>	
				    			</div>
					    		
					    	</div>
					    	<div class="col-xs-4 right">
					    		<p id="cxn03_1_5">在橙蟹，你将见证中国规范财务在金融，公益，消费升级领域的推动过程。和我们一起，共同实现将企业规范财务披露作为衡量组织信用的中坚基石。</p>
					    		<p id="cxn03_1_6">现在就拿起手机扫描二维码关注《橙蟹》公众号吧！与我们一起深入探索财务领域的过去未来。</p>
					    	</div>	
				    </div>
				    <div class="item active">
				    	<h2>橙蟹创蓝 ｜ Smart Oran Crab</h2>
				    	<p>万物皆可度量</p>
				    	<div class="col-xs-7 left">

				    		<img id="cxn03_2_1" src="../resources/images/cxn03/02/1.png" alt="">
				    		<img id="cxn03_2_2" src="../resources/images/cxn03/02/5.png" alt="">
				    		<img id="cxn03_2_3" src="../resources/images/cxn03/02/6.png" alt="">
				    		
				    		<p id="cxn03_2_4">在创蓝，我们秉持橙蟹的探索精神，基于TMT商业领域，对企业管理，商业模式，市场方法论发出自己独特的声音。这是一个致力于服务千万商业探索爱好者的计划。You should be here!</p>
				    	</div>
				    	<div class="col-xs-5 right">
					    	<ul>
					    		<li id="cxn03_2_5">2bi商业歪歪（Coming soon）</li>
					    		<li id="cxn03_2_6">不做第一（Coming soon）</li>
					    		<li id="cxn03_2_7">商业不荒唐（Coming soon）</li>
					    	</ul>
					    	<div class="qr-part">
					    		<img id="cxn03_2_8" src="../resources/images/cxn03/02/7.png" alt="">
					    		<p id="cxn03_2_9">现在就拿起手机扫描二维码关注《橙蟹创蓝》公众号吧！我们期待更多伙伴的思想碰撞为中国商业的发展贡献智慧花火。</p>
					    	</div>
				    	</div>
				    </div>
				    <a class="left carousel-control" href="#carouselCxn03" role="button" data-slide="prev">
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#carouselCxn03" role="button" data-slide="next">
					    <span class="sr-only">Next</span>
					  </a>
				  </div>
			  </div>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane" id="cxn04">
			<div class="content">
				<h2>我们的合作伙伴怎么说 ｜ What our users say</h2>
				<p>评价源于信赖</p>
				<!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation"><a href="#c1" role="tab" data-toggle="tab">
			    	<img src="../resources/images/cxn04/1.png">
			    </a></li>
			    <li role="presentation"><a href="#c2" role="tab" data-toggle="tab">
			    	<img src="../resources/images/cxn04/2.png">
			    </a></li>
			    <li role="presentation"><a href="#c3" role="tab" data-toggle="tab">
			    	<img src="../resources/images/cxn04/3.png">
			    </a></li>
			    <li role="presentation"><a href="#c4" role="tab" data-toggle="tab">
			    	<img src="../resources/images/cxn04/4.png">
			    </a></li>
			    <li role="presentation"><a href="#c5" role="tab" data-toggle="tab">
			    	<img src="../resources/images/cxn04/5.png">
			    </a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane" id="c1">...</div>
			    <div role="tabpanel" class="tab-pane" id="c2">...</div>
			    <div role="tabpanel" class="tab-pane" id="c3">...</div>
			    <div role="tabpanel" class="tab-pane" id="c4">...</div>
			    <div role="tabpanel" class="tab-pane" id="c5">...</div>
			  </div>
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation"><a href="#c6" role="tab" data-toggle="tab">
			    	<img src="../resources/images/cxn04/6.png">
			    </a></li>
			    <li role="presentation"><a href="#c7" role="tab" data-toggle="tab">
			    	<img src="../resources/images/cxn04/7.png">
			    </a></li>
			    <li role="presentation"><a href="#c8" role="tab" data-toggle="tab">
			    	<img src="../resources/images/cxn04/8.png">
			    </a></li>
			    <li role="presentation"><a href="#c9" role="tab" data-toggle="tab">
			    	<img src="../resources/images/cxn04/9.png">
			    </a></li>
			    <li role="presentation"><a href="#c10" role="tab" data-toggle="tab">
			    	<img src="../resources/images/cxn04/10.png">
			    </a></li>
			  </ul>
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane" id="c6">...</div>
			    <div role="tabpanel" class="tab-pane" id="c7">...</div>
			    <div role="tabpanel" class="tab-pane" id="c8">...</div>
			    <div role="tabpanel" class="tab-pane" id="c9">...</div>
			    <div role="tabpanel" class="tab-pane" id="c10">...</div>
			  </div>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane" id="cxn05">
			<div class="content">
				<h2>我们的客户服务 ｜ Best Service</h2>
				<p>从未如此贴心</p>
				<p>无论你是准备尝试橙蟹的服务，亦或是在使用橙蟹服务的过程中遇到了任何问题，<br>你都可以通过以下方式快速取得我们的帮助</p>
				<ul>
					<li class="col-xs-6"><img src="../resources/images/cxn05/1.png">QQ: 349397136</li>
					<li class="col-xs-6"><img src="../resources/images/cxn05/2.png">Wechat: chengxiesvr</li>
					<li class="col-xs-6"><img src="../resources/images/cxn05/3.png">Tel: 400-7771147</li>
					<li class="col-xs-6"><img src="../resources/images/cxn05/4.png">Mail: service@wsure.com.cn</li>
				</ul>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane" id="cxn06">
			<div class="content">
				<h2>橙蟹的现在与未来 ｜ The next is now</h2>
				<p>让财务未来现在就来</p>
				<img src="../resources/images/cxn06/1.png" alt="">
				<ul>
					<li class="col-xs-3">
						<img src="../resources/images/cxn06/3.png" alt="">
						<p>我们专注于利用互联网的技术力量规范并优化企业财务流程，同样期待财务大数据在市场，管理，投资等领域的广泛应用。</p>
					</li>
					<li class="col-xs-3">
						<img src="../resources/images/cxn06/4.png" alt="">
						<p>目前橙蟹立足于深圳，为当地无数的小微企业提供管家式的财务服务，未来，中国更多的企业都将享受到橙蟹带来的福。</p>
					</li>
					<li class="col-xs-3">
						<img src="../resources/images/cxn06/5.png" alt="">
						<p>橙蟹坚信互联网的技术力量连接财务数据的价值不仅仅在于财务本身的范畴，它具备坚韧的延展性，比如信用，所以坚持。</p>
					</li>
					<li class="col-xs-3">
						<img src="../resources/images/cxn06/6.png" alt="">
						<p>你可以通过官方电话400-7771147联络我们的同事，同样也可以通过我们的企业邮箱service@wsure.com.cn与我们取得联系。</p>
					</li>
				</ul>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane" id="cxn07">
			<div class="content">
				<h2>主题活动 ｜ Theme activities</h2>
				<p>岂止于会计</p>
				<div class="col-xs-5 col-xs-offset-1 left">
					<img src="../resources/images/cxn07/left.png">
					<h2>橙说会计论坛</h2>
					<p>这是一个开放的话题论坛，我们通过圆桌讨论的形式组织参与者与我们资深的会计从业人员沟通交流企业在管理过程中遇到的各种会计实操问题。旨在为财税工作者提供更垂直，更专业的线下交流空间与学习服务</p>
				</div>
				<div class="col-xs-5 right">
					<img src="../resources/images/cxn07/right.png">
					<h2>CEO蟹友会</h2>
					<p>我们组织橙蟹服务的各大企业高层管理者，自发地形成紧密的私董会组织，讨论并解决企业运作过程中包括但不限于财务，管理，业务，政策等问题。同时希望通过这种方式可以形成联盟企业资源置换的生态体系。</p>
				</div>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane" id="cxn08">
			<div class="content">
				
				<!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="tab1">
			  		<h2>财务管理 ｜ Account management</h2>
						<p>井然有序</p>
						<p>橙蟹依赖自建的财物共享中心，针对不同行业的不同特点，通过“SAAS工具＋人工处理”的写作方式，规范处理会计核算，纳税申报，报表出具与分析等工作，不仅满足日常财物管理需要，更让数据符合各行业的披露规范。</p>
						<div class="col-xs-4">
							<img src="../resources/images/cxn08/01/1.png" alt="">
							<ul>
								<li>财务调研</li>
								<li>纳税申报</li>
								<li>五险一金申报</li>
								<li>凭证处理</li>
								<li>管理报表出具</li>
							</ul>
						</div>
						<div class="col-xs-4">
							<img src="../resources/images/cxn08/01/2.png" alt="">
							<ul>
								<li>财报分析报表及建议</li>
								<li>技术流财物解决方案</li>
								<li>线上线下财物咨询</li>
							</ul>
						</div>
						<div class="col-xs-4">
							<img src="../resources/images/cxn08/01/3.png" alt="">
							<ul>
								<li>财报公示</li>
								<li>汇算清缴</li>
								<li>外汇年检</li>
								<li>旧帐整理</li>
								<li>上市辅导</li>
								<li>说服筹划</li>
							</ul>
						</div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="tab2">
			    	<h2>预算筹划 ｜ Budget management</h2>
			    	<p>有条不紊</p>
			    	<p>我们的财物顾问会将结合SAAS服务提供的数据支持，给予企业最专业的预算管理服务，企业从此花钱不愁。</p>
			    	<img src="../resources/images/cxn08/02/1.png" width="80%" alt="">
			    </div>
			    <div role="tabpanel" class="tab-pane" id="tab3">
			    	<h2>风险控制 ｜ Risk management</h2>
			    	<p>了如指掌</p>
			    	<p>结合橙蟹其他服务的信息矩阵，为企业提供全范围给予会计、税务、审计及信息披露层面的专业资讯服务，帮助企业做好内控。</p>
			    	<img src="../resources/images/cxn08/03/2.png" width="80%" alt="">
			    </div>
			    <div role="tabpanel" class="tab-pane" id="tab4">
			    	<h2>信用披露 ｜ Credit management</h2>
			    	<p>信而有征</p>
			    	<p>我们根据客户信息披露的要求，无论是获取资金还是上市，链接专业的会计、律师出具各类审计报告与法律意见书，助力企业做好背书。</p>
			    	<img src="../resources/images/cxn08/04/2.png" width="80%" alt="">
			    </div>
			  </div>
				<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active col-xs-3"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">算账</a></li>
			    <li role="presentation" class="col-xs-3"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">管钱</a></li>
			    <li role="presentation" class="col-xs-3"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">避险</a></li>
			    <li role="presentation" class="col-xs-3"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">增信</a></li>
			  </ul>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane" id="cxn09">
			<div class="content">
				<h2>公益行业 ｜ Public benefit</h2>
				<p>我为人人</p>
				<div class="col-xs-5 col-xs-offset-1 left">
					<img id="cnx09_1" src="../resources/images/cxn09/1.png">
					<div class="banner-title">行业痛点</div>
					<p>
						我国目前没有完整的公益组织财务监管法律体系，导致公益组织对资金与资源的使用情况不被大众信服<br>
						公益组织受管理费用限制，通常财务管理制度与人力资源严重匮乏<br>
						公益组织财务的内外监管受多方因素影响，无法达到理想级别	
					</p>
					<img src="../resources/images/cxn09/3.png" width="18" height="14" alt="">
				</div>
				<div class="col-xs-5 right">
					橙蟹提供纳税申报供支出管理APP<br>
					(一站式管理报销、采购及薪酬支出)<br>
					会计核算、发票整理、报表出具、纳税申报，财税咨询等财务外包服务<br>
					<br>
					由橙蟹联盟会计师事务所提供针对企业的审计服务<br>
					<br>
					由橙蟹联盟律师事务所提供专项的法律意见书服务
				</div>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane" id="cxn10">
			<div class="content">
				<h2>众筹行业 ｜ Crowdfunding</h2>
				<p>人人为我</p>
				<div class="col-xs-5 col-xs-offset-1 left">
					<img id="cnx10_1" src="../resources/images/cxn10/1.png">
					<div class="banner-title">行业痛点</div>
					<p>
						行业平台众多，缺乏标准化的规范，监管与法规<br>
						众筹平台座位中介方，在经营过程中更重视早期对项目的筛选与营销，但投后管理的能力相对薄弱，平台基于自身利益导向，导致项目存在道德风险<br>
						<br>
						众筹项目在实际运营过程中缺乏监管，信息的高度不对称导致投资人的权利难以保障
					</p>
					
				</div>
				<div class="col-xs-5 right">
					橙蟹提供支出管理APP<br>
					(一站式管理报销、采购及薪酬支出)<br>
					会计核算、发票整理、报表出具、纳税申报，财税咨询等财务外包服务<br>
					<br>
					由橙蟹联盟会计师事务所提供针对企业的审计服务<br>
					<br>
					由橙蟹联盟律师事务所提供专项的法律意见书服务
				</div>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane" id="cxn11">
			<div class="content">
				<h2>基金行业 ｜ Capital fund</h2>
				<p>聚沙成塔</p>
				<div class="col-xs-5 col-xs-offset-1 left">
					<img id="cnx11_1" src="../resources/images/cxn11/1.png">
					<div class="banner-title">行业痛点</div>
					<p>
					财权关系不明确，内外监控体制缺失，财务体制欠佳，风险管理未详等导致了公司财务治理等混乱，或给企业带来重大损失<br>
					<br>
					注册登记后未及时更新信息披露，对重大事项未及时报告<br>
					<br>
					相关法律法规的不健全，对基金管理人的承诺函约束效果一般，契约精神没有很好履行
					</p>
				</div>
				<div class="col-xs-5 right">
					橙蟹提供支出管理APP<br>
					(一站式管理报销、采购及薪酬支出)<br>
					会计核算、发票整理、报表出具、纳税申报，财税咨询等财务外包服务<br>
					<br>
					由橙蟹联盟会计师事务所提供针对企业的审计服务<br>
					<br>
					由橙蟹联盟律师事务所提供专项的法律意见书服务
				</div>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane" id="cxn12">
			<div class="content">
				<h2>创投行业 ｜ Start up</h2>
				<p>星火燎原</p>
				<div class="col-xs-5 col-xs-offset-1 left">
					<img id="cnx12_1" src="../resources/images/cxn12/1.png">
					<div class="banner-title">行业痛点</div>
					<p>
					资本的尽调阶段，信息不对称或被误导。投资者没有有效路径明析项目方真实的财务状况，误投最终造成损失<br>
					<br>
					项目投资后，项目与资本间信息不对称，项目方可能违背契约，投资者也难以实施监管<br>
					<br>
					无论人力财力，资本方行使尽职调研的成本颇高
					</p>
				</div>
				<div class="col-xs-5 right">
					橙蟹提供支出管理APP<br>
					(一站式管理报销、采购及薪酬支出)<br>
					会计核算、发票整理、报表出具、纳税申报，财税咨询等财务外包服务<br>
					<br>
					由橙蟹联盟会计师事务所提供针对企业的审计服务<br>
					<br>
					由橙蟹联盟律师事务所提供专项的法律意见书服务
				</div>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane" id="cxn13">
			<div class="content">
				<h2>你将得到如下服务 ｜ How to service</h2>
				<p>每一步都细致入微</p>
				<ul>
					<li class="col-xs-3"><img src="../resources/images/cxn13/1.png">1.登门拜访了解需求</li>
					<li class="col-xs-3"><img src="../resources/images/cxn13/2.png">2.确认方式签订合同</li>
					<li class="col-xs-3"><img src="../resources/images/cxn13/3.png">3.确定项目绑定顾问</li>
					<li class="col-xs-3"><img src="../resources/images/cxn13/4.png">4.再次登门详细调研</li>
					<li class="col-xs-3"><img src="../resources/images/cxn13/5.png">5.出具方案实施计划</li>
					<li class="col-xs-3"><img src="../resources/images/cxn13/6.png">6.协助客户调整落地</li>
					<li class="col-xs-3"><img src="../resources/images/cxn13/7.png">7.年中无休在线咨询</li>
					<li class="col-xs-3"><img src="../resources/images/cxn13/8.png">8.售后跟踪解答反馈</li>
				</ul>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane" id="cxn14">
			<div class="content">
				<h2>在这里获得新体验 ｜ A miraculous experience</h2>
				<p>财务从此大不一样</p>
				<div class="col-xs-5 col-xs-offset-1 left">
					<img src="../resources/images/cxn14/1.png" width="80%">
				</div>
				<div class="col-xs-5 right">
					<ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#PasswordLogin" aria-controls="home" role="tab" data-toggle="tab">密码登录</a></li>
				    <li role="presentation"><a href="#ValicodeLogin" aria-controls="profile" role="tab" data-toggle="tab">验证码登录</a></li>
				  </ul>
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="PasswordLogin">
				    	<div class="form-group">
				    		<div class="input-box" name="phone" title="手机">
				    		<i class="icon-phone"></i>
				    			<input type="text" autocomplete="off" placeholder="请输入手机号码">
				    		</div>
				    	</div>
				    	<div class="form-group">
				    		<div class="input-box" name="password" title="密码">
				    		<i class="icon-password"></i>
				    			<input type="password" autocomplete="off" placeholder="请输入密码">
				    		</div>
				    	</div>
				    	<div class="form-group">
				    		<button class="btn btn-primary">登录</button>
				    	</div>	
				    </div>
				    <div role="tabpanel" class="tab-pane" id="ValicodeLogin">
				    	<div class="form-group">
				    		<div class="input-box" name="phone" title="手机">
				    		<i class="icon-phone"></i>
				    			<input type="text" autocomplete="off" placeholder="请输入手机号码">
				    		</div>
				    	</div>
				    	<div class="form-group">
				    		<div class="input-box" name="password" title="验证码">
				    			<i class="icon-password"></i>
				    			<input type="password" autocomplete="off" placeholder="请输入验证码"> 
				    			<button class="btn btn-primary btn-half">获取验证码</button>
				    		</div>
				    		
				    	</div>
				    	<div class="form-group">
				    		<button class="btn btn-primary">登录</button>
				    	</div>	
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<script src="../resources/js/jquery.min.js" ></script>
	<script src="../resources/js/jquery.transit.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/app.js"></script>
</body>
</html>
