<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="author" content="Rain Wu"/>
	<link rel="stylesheet" href="../resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../resources/css/main.min.css"/>
	<title>Oran Crab ｜ 橙蟹</title>
</head>

<body>
	<header>
		<h1>Oran Crab | 橙蟹 <i class="nav-control on"></i></h1>
		<p>©2016 橙蟹 粤ICP备08036625号</p>
	</header>
	<aside>
		<ul>
			<li role="presentation"><i></i><a href="#cxn01" aria-control="cxn01" role="tab" data-toggle="tab">首页</a></li>
			<li role="presentation"><i></i><a href="#cxn02" aria-control="cxn02" role="tab" data-toggle="tab">APP</a></li>
			<li role="presentation" class="active"><i></i><a href="#cxn03" aria-control="cxn03" role="tab" data-toggle="tab">新媒体</a></li>
			<li role="presentation"><i></i><a href="#cxn04" aria-control="cxn04" role="tab" data-toggle="tab">合作伙伴</a></li>
			<li role="presentation"><i></i><a href="#cxn05" aria-control="cxn05" role="tab" data-toggle="tab">客户服务</a></li>
			<li role="presentation"><i></i><a href="#cxn06" aria-control="cxn06" role="tab" data-toggle="tab">关于我们</a></li>
			<li role="presentation"><i></i><a href="#cxn07" aria-control="cxn07" role="tab" data-toggle="tab">线下活动</a></li>
			<li role="presentation"><i></i><a href="#cxn08" aria-control="cxn08" role="tab" data-toggle="tab">财务服务</a></li>
			<li role="presentation"><i></i><a href="#cxn09" aria-control="cxn09" role="tab" data-toggle="tab">公益行业方案</a></li>
			<li role="presentation"><i></i><a href="#cxn10" aria-control="cxn10" role="tab" data-toggle="tab">众筹行业方案</a></li>
			<li role="presentation"><i></i><a href="#cxn11" aria-control="cxn11" role="tab" data-toggle="tab">基金行业方案</a></li>
			<li role="presentation"><i></i><a href="#cxn12" aria-control="cxn12" role="tab" data-toggle="tab">创投行业方案</a></li>
			<li role="presentation"><i></i><a href="#cxn13" aria-control="cxn13" role="tab" data-toggle="tab">服务流程</a></li>
			<li role="presentation"><i></i><a href="#cxn14" aria-control="cxn14" role="tab" data-toggle="tab">ERP登录</a></li>
		</ul>
		<div class="cursor"></div>
	</aside>
	<div class="tab-content text-center">
		<div role="tablepanel" class="tab-pane " id="cxn01">
			<div class="content">
				<div class="col-xs-6 left">
					<img class="ele-hide cxn01_1" id="cxn01_1" src="../resources/images/cxn01/cxn01.png " alt="">
				</div>
				<div class="col-xs-6 right">
					<h2 id="cxn01_2" class="ele-hide cxn01_2">在橙蟹，用技术驱动企业规范财务</h2>
					<p id="cxn01_3" class="ele-hide cxn01_3">橙蟹 |（ORAN CRAB）是一个用技术为小微企业提供会计，审计，内控，信用服务的财务平台</p>	
				</div>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane " id="cxn02">
			<div class="content">
				<div id="carouselCxn02" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
				    <div class="item ">
				    	<div class="col-xs-5 left">
				    	 	<img id="cxn02_1_1" src="../resources/images/cxn02/01/1.png" width="344" height="710" alt="">	
				    	</div>
				    	<div class="col-xs-6 right">
				    		<div class="part1 text-left">
				    			<img id="cxn02_1_2" src="../resources/images/cxn02/01/2.png" width="159" height="159" alt="">
				    			<img id="cxn02_1_2_1" src="../resources/images/cxn02/01/3.png" width="268" height="159" alt="">	
				    			<h2 id="cxn02_1_3">一款用技术推动企业财务管理的SAAS软件</h2>
				    		</div>
				    		<ul class="text-left">
				    			<li id="cxn02_1_4"><i id="cxn02_4_1"></i>众包会计 — 网状审批解放财务成本</li>
				    			<li id="cxn02_1_5"><i id="cxn02_4_2"></i>全员审计 — 财务信息流披露公开透明</li>
				    			<li id="cxn02_1_6"><i id="cxn02_4_3"></i>做好内控 — 随时随地监控企业开支</li>
				    		</ul>
				    		<div id="cxn02_1_7">
				    			<img src="../resources/images/cxn02/01/5.png"><p>扫描二维码<br>下载橙蟹APP</p>
				    		</div>
				    	</div>
				    </div>
				    <div class="item active">
				      <h2 id="cxn02_2_1">如何使用橙蟹 | How to use Oran Crab</h2>
							<p id="cxn02_2_2">简单四步上手</p>
							<ol>
								<li class="col-xs-3">
									<img id="cxn02_2_3" src="../resources/images/cxn02/02/1.png" alt="">
									<p id="cxn02_2_4">创建或加入一家公社</p>
									<i id="cxn02_2_5"></i>
								</li>

								<li class="col-xs-3">
									<img id="cxn02_2_6" src="../resources/images/cxn02/02/3.png" alt="">
									<p id="cxn02_2_7">一键发布支出</p>
									<i id="cxn02_2_8"></i>
								</li>
								<li class="col-xs-3">
									<img id="cxn02_2_9" src="../resources/images/cxn02/02/4.png" alt="">
									<p id="cxn02_2_10">像朋友圈一样管理支出</p>
									<i id="cxn02_2_11"></i>
								</li>
								<li class="col-xs-3">
									<img id="cxn02_2_12" src="../resources/images/cxn02/02/5.png" alt="">
									<p id="cxn02_2_13">随时随地查看企业报表</p>
								</li>
							</ol>
				    </div>
				  </div>
				  <a class="left carousel-control" href="#carouselCxn02" role="button" data-slide="prev">
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carouselCxn02" role="button" data-slide="next">
				    <span class="sr-only">Next</span>
				  </a>
				</div>	
			</div>
		</div>
		<div role="tablepanel" class="tab-pane active" id="cxn03">
			<div class="content">
				<div id="carouselCxn03" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
				    <div class="item ">
				    	<h2>橙蟹 ｜ Oran Crab</h2>
				    	<p>技术驱动规范财务</p>
				    		<div class="col-xs-8 left">
				    			<div class="sacle-part">
				    				<ul>
						    			<li>每日财务头条</li>
						    			<li>橙蟹大事件</li>
						    			<li>财物冷知识</li>
						    			<li>线下活动信息</li>
						    			<li>此处应有广告</li>
						    		</ul>
						    		<div class="banner">
						    			<img id="cxn03_1_1" src="../resources/images/cxn03/01/1.png" width="310" height="640">
						    			<img id="cxn03_1_2" src="../resources/images/cxn03/01/7.png">
						    			<img id="cxn03_1_3" src="../resources/images/cxn03/01/8.png">
						    			<img id="cxn03_1_4" src="../resources/images/cxn03/01/9.png">
						    		</div>	
				    			</div>
					    		
					    	</div>
					    	<div class="col-xs-4 right">
					    		<p id="cxn03_1_5">在橙蟹，你将见证中国规范财务在金融，公益，消费升级领域的推动过程。和我们一起，共同实现将企业规范财务披露作为衡量组织信用的中坚基石。</p>
					    		<p id="cxn03_1_6">现在就拿起手机扫描二维码关注《橙蟹》公众号吧！与我们一起深入探索财务领域的过去未来。</p>
					    	</div>	
				    </div>
				    <div class="item active">
				    	<h2>橙蟹创蓝 ｜ Smart Oran Crab</h2>
				    	<p>万物皆可度量</p>
				    	<div class="col-xs-7 left">

				    		<img id="cxn03_2_1" src="../resources/images/cxn03/02/1.png" alt="">
				    		<img id="cxn03_2_2" src="../resources/images/cxn03/02/5.png" alt="">
				    		<img id="cxn03_2_3" src="../resources/images/cxn03/02/6.png" alt="">
				    		
				    		<p id="cxn03_2_4">在创蓝，我们秉持橙蟹的探索精神，基于TMT商业领域，对企业管理，商业模式，市场方法论发出自己独特的声音。这是一个致力于服务千万商业探索爱好者的计划。You should be here!</p>
				    	</div>
				    	<div class="col-xs-5 right">
					    	<ul>
					    		<li id="cxn03_2_5">2bi商业歪歪（Coming soon）</li>
					    		<li id="cxn03_2_6">不做第一（Coming soon）</li>
					    		<li id="cxn03_2_7">商业不荒唐（Coming soon）</li>
					    	</ul>
					    	<div class="qr-part">
					    		<img id="cxn03_2_8" src="../resources/images/cxn03/02/7.png" alt="">
					    		<p id="cxn03_2_9">现在就拿起手机扫描二维码关注《橙蟹创蓝》公众号吧！我们期待更多伙伴的思想碰撞为中国商业的发展贡献智慧花火。</p>
					    	</div>
				    	</div>
				    </div>
				    <a class="left carousel-control" href="#carouselCxn03" role="button" data-slide="prev">
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#carouselCxn03" role="button" data-slide="next">
					    <span class="sr-only">Next</span>
					  </a>
				  </div>
			  </div>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane" id="cxn04">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn05">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn06">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn07">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn08">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn09">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn10">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn11">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn12">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn13">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn14">...</div>
	</div>
	<script src="../resources/js/jquery.min.js" ></script>
	<script src="../resources/js/jquery.transit.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/app.js"></script>
</body>
</html>
