<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="author" content="Rain Wu"/>
	<link rel="stylesheet" href="../resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../resources/css/main.min.css"/>
	<title>Oran Crab ｜ 橙蟹</title>
</head>

<body>
	<header>
		<h1>Oran Crab | 橙蟹</h1>
		<p>©2016 橙蟹 粤ICP备08036625号</p>
	</header>
	<aside>
		<ul>
			<li role="presentation" class="active"><i></i><a href="#cxn01" aria-control="cxn01" role="tab" data-toggle="tab">首页</a></li>
			<li role="presentation"><i></i><a href="#cxn02" aria-control="cxn02" role="tab" data-toggle="tab">APP</a></li>
			<li role="presentation"><i></i><a href="#cxn03" aria-control="cxn03" role="tab" data-toggle="tab">新媒体</a></li>
			<li role="presentation"><i></i><a href="#cxn04" aria-control="cxn04" role="tab" data-toggle="tab">合作伙伴</a></li>
			<li role="presentation"><i></i><a href="#cxn05" aria-control="cxn05" role="tab" data-toggle="tab">客户服务</a></li>
			<li role="presentation"><i></i><a href="#cxn06" aria-control="cxn06" role="tab" data-toggle="tab">关于我们</a></li>
			<li role="presentation"><i></i><a href="#cxn07" aria-control="cxn07" role="tab" data-toggle="tab">线下活动</a></li>
			<li role="presentation"><i></i><a href="#cxn08" aria-control="cxn08" role="tab" data-toggle="tab">财务服务</a></li>
			<li role="presentation"><i></i><a href="#cxn09" aria-control="cxn09" role="tab" data-toggle="tab">公益行业方案</a></li>
			<li role="presentation"><i></i><a href="#cxn10" aria-control="cxn10" role="tab" data-toggle="tab">众筹行业方案</a></li>
			<li role="presentation"><i></i><a href="#cxn11" aria-control="cxn11" role="tab" data-toggle="tab">基金行业方案</a></li>
			<li role="presentation"><i></i><a href="#cxn12" aria-control="cxn12" role="tab" data-toggle="tab">创投行业方案</a></li>
			<li role="presentation"><i></i><a href="#cxn13" aria-control="cxn13" role="tab" data-toggle="tab">服务流程</a></li>
			<li role="presentation"><i></i><a href="#cxn14" aria-control="cxn14" role="tab" data-toggle="tab">ERP登录</a></li>
		</ul>
		<div class="cursor"></div>
	</aside>
	<div class="tab-content container text-center">
		<div role="tablepanel" class="tab-pane active" id="cxn01">
			<div class="content">
				<div class="col-xs-6 left">
					<img id="cxn01_1" src="../resources/images/cxn01/banner1.jpg" alt="">	
				</div>
				<div class="col-xs-6 right">
					<h2 id="cxn01_2" class="ele-hide">在橙蟹，用技术驱动企业规范财务</h2>
					<p id="cxn01_3" class="ele-hide">橙蟹 |（ORAN CRAB）是一个用技术为小微企业提供会计，审计，内控，信用服务的财务平台</p>	
				</div>
			</div>
		</div>
		<div role="tablepanel" class="tab-pane" id="cxn02">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn03">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn04">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn05">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn06">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn07">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn08">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn09">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn10">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn11">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn12">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn13">...</div>
		<div role="tablepanel" class="tab-pane" id="cxn14">...</div>
	</div>
	<script src="../resources/js/jquery.min.js" ></script>
	<script src="../resources/js/jquery.transit.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/app.js"></script>
</body>
</html>