<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
	<meta name="author" content="Rain Wu"/>
	<link rel="stylesheet" href="../resources/css/4k.min.css"/>
	<title>SerialAbTak_HD</title>
</head>

<body>
	<div class="background_wallpaper">
		<div class="background_dimmer">
			<div class="area_header">
				<label>Channel Browser</label>
			</div>
			<div class="aside">
				<iframe width="451" height="254" src="https://www.youtube.com/embed/lp-EO5I60KA" frameborder="0" allowfullscreen></iframe>
				<h4>Na Bole Tum Na Maine Kuch Kaha - From 1st February 2013 onwards</h4>
				<p>Subscribe to Colors TV:https://www.youtube.com/embed/lp-EO5I60KA</p>
				<img src="../resources/images/descrip_yt_icon.png">
			</div>
			<div class="content">
				<ul class="video-list">
					<li class="active">
						<img src="../resources/images/sample_03.png">
						<div class="video-list-title">
							<h4>Kiku's Most Hilarious Performance | Comedy Cicus</h4>
							<p>by Sony 12 video on YouTube Wednesday 13 Jan 2016 10:34 PM</p>
						</div>
					</li>
					<li>
						<img src="../resources/images/sample_03.png">
						<div class="video-list-title">
							<h4>Kiku's Most Hilarious Performance | Comedy Cicus</h4>
							<p>by Sony 12 video on YouTube Wednesday 13 Jan 2016 10:34 PM</p>
						</div>
					</li>
					<li>
						<img src="../resources/images/sample_03.png">
						<div class="video-list-title">
							<h4>Kiku's Most Hilarious Performance | Comedy Cicus</h4>
							<p>by Sony 12 video on YouTube Wednesday 13 Jan 2016 10:34 PM</p>
						</div>
					</li>
					<li>
						<img src="../resources/images/sample_03.png">
						<div class="video-list-title">
							<h4>Kiku's Most Hilarious Performance | Comedy Cicus</h4>
							<p>by Sony 12 video on YouTube Wednesday 13 Jan 2016 10:34 PM</p>
						</div>
					</li>
					<li>
						<img src="../resources/images/sample_03.png">
						<div class="video-list-title">
							<h4>Kiku's Most Hilarious Performance | Comedy Cicus</h4>
							<p>by Sony 12 video on YouTube Wednesday 13 Jan 2016 10:34 PM</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="footer">
				<ul>
					<li>
						<div><i></i><span>Channel Sort</span></div></li>
					<li><div><i></i></div></li>
					<li><div><i></i></div></li>
					<li><div><i></i></div></li>
				</ul>
			</div>
		</div>
	</div>

</body>