#cxn01{
	transition: all .2s;
	.left{
		display: flex;
		justify-content: center;
		align-items: center;
		img{width: 80%;}
	}
	.right{
		display: flex;
		justify-content: center;
		align-items: center;
    flex-direction: column;
    color: #a7a7a7;
		line-height: 30px;
	}
	#cxn01_2{
		font-size: 30px;
		transform: translateY(40px);
	}
	#cxn01_3{
		font-size: 16px;
		transform: translateY(40px);
	}
}


