@import "variables.less";
header{
	padding: 20px;
	h1{
		text-indent: -9999px;
		margin:0;
		background-image: url(../images/sprite-icon.png);
		background-position: -2px -461px;
		background-repeat: no-repeat;
		width:190px;
		height:20px;
		position:relative;
		.nav-control{
			background-image: url(../images/sprite-icon.png);
			background-position: -110px -430px;
			background-repeat: no-repeat;
			width:14px;
			height:15px;
			display: inline-block;
			position:absolute;
			right:0;
			top:4px;
			cursor:pointer;
		}
	}
	p{
		color:#e5e5e5;
		font-size: 10px;
		width:168px;
		text-align: center;
		margin: 10px 0;
	}
}
aside{
	position: absolute;
	left:0;
	top: 80px;
	ul{
		list-style: none;
		padding: 0;
		li{
			padding: 3px 20px;
			line-height: 20px;
			position:relative;
			i{
				display: inline-block;
				width: 35px;
				height: 33px;
				background-image: url(../images/sprite-icon.png);
				background-repeat: no-repeat;
				margin-right: 10px;
			}
			a{
				color: #6d6d6d;
				display: inline-block;
				font-size: 1.2em;
				visibility: hidden;
				opacity: 0;
				width:186px;
				transition: all .3s ease-in-out;
				position:absolute;
				top: 12px;
				left: 0;
				padding-left: 50px;
			}
		}
		li:nth-child(1) i{ background-position: 0 0;}
		li:nth-child(2) i{ background-position: 0 -33px;}
		li:nth-child(3) i{ background-position: 0 -66px;}
		li:nth-child(4) i{ background-position: 0 -99px;}
		li:nth-child(5) i{ background-position: 0 -132px;}
		li:nth-child(6) i{ background-position: 0 -165px;}
		li:nth-child(7) i{ background-position: 0 -198px;}
		li:nth-child(8) i{ background-position: 0 -231px;}
		li:nth-child(9) i{ background-position: 0 -264px;}
		li:nth-child(10) i{ background-position: 0 -297px;}
		li:nth-child(11) i{ background-position: 0 -330px;}
		li:nth-child(12) i{ background-position: 0 -363px;}
		li:nth-child(13) i{ background-position: 0 -396px;}
		li:nth-child(14) i{ background-position: 0 -429px;}
		li:hover{
			a{
				visibility:visible;
				opacity:1;
				transform: translateX(20px);
			}
		}
		li.active{
			a{
				color: @brand-primary;
				visibility:visible;
				opacity:1;
				animation-fill-mode: forwards;
				transform: translateX(20px);
			}
		}
		li:nth-child(1).active i{ background-position: -61px 0;}
		li:nth-child(2).active i{ background-position: -61px -33px;}
		li:nth-child(3).active i{ background-position: -61px -66px;}
		li:nth-child(4).active i{ background-position: -61px -99px;}
		li:nth-child(5).active i{ background-position: -61px -132px;}
		li:nth-child(6).active i{ background-position: -61px -165px;}
		li:nth-child(7).active i{ background-position: -61px -198px;}
		li:nth-child(8).active i{ background-position: -61px -231px;}
		li:nth-child(9).active i{ background-position: -61px -264px;}
		li:nth-child(10).active i{ background-position: -61px -297px;}
		li:nth-child(11).active i{ background-position: -61px -330px;}
		li:nth-child(12).active i{ background-position: -61px -363px;}
		li:nth-child(13).active i{ background-position: -61px -396px;}
		li:nth-child(14).active i{ background-position: -61px -429px;}
	}
	.cursor{
		position:absolute;
		top:0;
		left:0;
		width: 4px;
		height: 45px;
		background-color: @brand-primary;
		transition: top 0.3s ease-in-out;
	}
}
.tab-pane{
	height: 100%;
	.content{height: 100%;}
}

.ele-hide{
	opacity: 0.3	;
}

@import "cnx01.less";
